# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

devhost.textpb

node_modules

web/ui/dist

# For simplicity during early access demoing, we submit sample secrets.
# In a real scenario, secrets would be either ignored or encrypted.
# See https://github.com/namespacelabs/foundation/blob/main/doc/usage/README.md#using-age-for-simple-secret-management
# 
# api/server/secrets
# !api/server/secrets/contents.tar.*

.history

**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# Next.js cache
**/.next/*

# Python cache
__pycache__/
*.py[cod]