<form id="item-form" class="flex">
    {% csrf_token %}
    <input {% if form.name.value %} value="{{ form.name.value }}"{% endif %}
           id="id_name"
           type="text"
           name="name"
           class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
           placeholder="Type the item description"/>
    <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex sm:flex-shrink-0 sm:items-center">
        <button hx-post="{% url 'item-create' %}"
                hx-swap="outerHTML"
                hx-target="#item-form"
                class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm">
            Add item
        </button>
    </div>
</form>
